<mat-form-field>
    <input matInput type="text" placeholder="Buscar" (keyup)="onKeyUp($event)" >
</mat-form-field>

<table mat-table [dataSource]="heroes" class="list">

    <!-- id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="superhero">
        <th mat-header-cell *matHeaderCellDef> Superheroe </th>
        <td mat-cell *matCellDef="let element"> {{element.superhero}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef> Editorial </th>
        <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="alterEgo">
        <th mat-header-cell *matHeaderCellDef> Alter ego </th>
        <td mat-cell *matCellDef="let element"> {{element.alterEgo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="firstAppearance">
        <th mat-header-cell *matHeaderCellDef> Primer aparicion </th>
        <td mat-cell *matCellDef="let element"> {{element.firstAppearance}} </td>
    </ng-container>

    <!-- altercharactersEgo Column -->
    <ng-container matColumnDef="characters">
        <th mat-header-cell *matHeaderCellDef> Caracterizadores </th>
        <td mat-cell *matCellDef="let element"> {{element.characters}} </td>
    </ng-container>

    <!-- acciones Column -->
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Ver" (click)="goToDetail(element.id)">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button aria-label="Editar" (click)="openModal(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Eliminar" (click)="deleteSuperhero(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageIndex]="pageIndex"
    [length]="countElements"
    (page)="setPage($event)"
    aria-label="Select page of periodic elements">
</mat-paginator>

<app-add-superhero (newHero)="getHeroes()"></app-add-superhero>